@font-face {
    font-family: roboto;
    src: url(fontes/Roboto-Regular.ttf);
}

@font-face {
    font-family: jogo;
    src: url(fontes/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: desenhado;
    src: url(fontes/Chalk\ Dash.ttf);
}

:root{
    --azul_reato: #048ABF;
    --amarelo_reato: #F2AE2E;
    --vermelho_reato: #F24444;
    --cinza_reato: #f0f0f0;
    --preto_reato:#0D0D0D;
    --branco_reato:#ffffff;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--cinza_reato);
}

header{
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 20vh;
    position: fixed;
    background-color: var(--cinza_reato);

    box-shadow: 3px 0 5px gray;
}

.limitador{
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.organizador_header{
    width: 100%;
    height: 100%;

    padding: 0 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.organizador_header a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#img_logotipo{
    width: 150px;
}

/* inicio de menu suspenso*/
.menu_suspenso{
    position: relative;
    display: flex;
    flex-flow: column;
    width: auto;
}

.container_barras{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    max-width: 60px;
    min-width: 50px;
    max-height: 50px;

    width: 6.5vw;
    height: 50px;

    align-self: flex-end;

    cursor: pointer;
    animation: 1s ease;
}

.barras{
    width: 100%;
    height: 20%;
    max-height: 10px;
    background-color: black;
    border-radius: 10px;
}

.ancoras{
    position: absolute;
    top: 50px;
    right: 1px;
    display: none;
    background-color: var(--azul_reato);
    
    transition: 0.5s ease;
}

.container_links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    font-weight: bold;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* Animações de cada componente */

.barra1,.barra2,.barra3{
    transition: 0.5s ease;
}

.barra1_ativa{
    transform: rotate(45deg) translateX(14px) translateY(14px) scaleX(1.3)
}

.barra2_ativa{
    opacity: 0;
}

.barra3_ativa{
    transform: rotate(-45deg) translateX(14px) translateY(-14px) scaleX(1.3)
}

/* Animação de  Abertura */

.ancoras_ativas{
    width: 0;
    height: 0;
    margin-top: 10px;
    border: 1px solid var(--vermelho_reato);
    box-shadow: var(--preto_reato) 5px 5px 5px;
    border-radius: 15px;
    display: block;
    transition: ease;
    animation: abrindo 1s ease-out forwards;
}

@keyframes abrindo {
    0%{
        width: 0;
        height: 0;
    }

    50%{
        border-color: var(--vermelho_reato);
        width: 150px;
        height: 0;
    }

    75%{
        width: 150px;
        height: 120px;
    }

    to{
        width: 150px;
        height: 120px;
        border: none;
    }
}

.links{
    opacity: 0;
    transition:  0.5s ease;
}

.links:hover{
    color: var(--vermelho_reato);
    text-shadow: #0D0D0D 2px 2px 2px;
    scale: 1.1;
}

.links_ativos{
    animation: abrindo_letras 0.5s 0.75s normal forwards;
}

@keyframes abrindo_letras {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* Animação de feixamento */
.ancoras_desativadas{
    width: 150px;
    height: 120px;
    margin-top: 10px;
    border: solid;
    border-radius: 15px;
    display: block;
    transition: ease;
    animation: fechando 1s ease-out forwards;
}

@keyframes fechando {
    0%{
        width: 150px;
        height: 120px;
    }

    50%{
        border-color: var(--vermelho_reato);
        width: 150px;
        height: 0;
    }

    to{
        width: 0;
        height: 0;
        display: none;
    }
}

.links_desetivos{
    animation: fexando_letras 0.5s normal forwards;
}

@keyframes fexando_letras {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

/* apresentação principal do site */ 
main{
    font-family: desenhado;
    padding-top: 20vh;
    width: 100%;
}

.Apresentacao_inicial_slider{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60vh;
    
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;

    background-color: #F2AE2E;
    background-size: contain;
}

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slids{
    display: flex;
    width: 400%;
    height: 100%;
}

.slids input{
    display: none;
}

.slide{
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 40px;
    align-items: top;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imagem1{
    background-image: url("imagens/baner3.jpg");
    background-size: cover;
}

.imagem2{
    background-image: url("");
    background-size: cover;
}

.imagem3{background-image: url("");}

.imagem4{background-image: url("");}


.manual-navgation{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: -40px;
}

.manual-btn{
    border: white solid 2px;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
    transition: 0.5s;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

/*Sobre Nos*/

.caixa_padrao{
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 10px 25px;
    scroll-margin-top: 20vh;
}

.caixa_padrao h2{
    margin: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.container_objetivos{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.cards_objetivos{
    width: 100%;
    height: auto;
    padding: 15px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    row-gap: 10px;

    border-radius: 20px;
    box-shadow: #0D0D0D 5px 2px 4px;
    background-color: var(--vermelho_reato);
}

.cards_objetivos h3{
    align-self: top;
    color: var(--azul_reato);
    text-shadow: #014058 2px 2px 2px;
}

.cards_objetivos p{
    text-align: justify;
    font-weight: 500;
    color: white;
}

.cards_objetivos p strong{
    color: var(--amarelo_reato);
    text-shadow: #664a15 2px 2px 2px;
}

/*Convenio*/
.convenios{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.convenios h2{
    margin: 20px;
    width: 100%;
    text-align: center;
}

.container_cards_convenios{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.cards_convenios{
    width: 150px;
    height: 150px;
    padding: 10px;

    display: grid;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius:10px;
    box-shadow: black 5px 5px 10px;
    transition: 0.5s ease;
    z-index: 0;
}

.cards_convenios:hover{
    transform: scale(1.1);
    z-index: 1;
}

.indicacao_do_plano{
    width: 100%;
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: bold;
}

.convenios_logo{
    width: 100%;
}

/*---------------------------------------- contato*/

.contato{
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.alinhador_contatos_email{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Contatos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Contatos h3{
    text-align: center;
    width: 100%;
    margin:20px 0;
}

.organizacao_links{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.organizacao_links a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    column-gap: 5px;
}

.organizacao_links a:hover{
    scale: 1.1;
}

#link_menor{
    font-size: 12px;
}

#link_menor:hover{
    scale: 1.2;
}

.img_logo_contato{
    width: 15px;
    height: 15;
}


/*-------------------------------------------envio de email direto do site*/

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
}

.email-container h3{
    margin: 20px 0;
    text-align: center;
}

.email-organizacao{
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: center;
}

.email-organizacao label{
text-align: start;
font-weight: bolder;
width: 100%;
}

.email-organizacao input{
    margin-bottom: 5px;
    width: 100%;
}

textarea{
    width: 100%;
    height: 15vh;
}

.botao_enviar{
    margin-top: 10px;
    align-self: center;
    width: 50%;
    height: 50px;
    border-radius: 12px;
    border: none;
    box-shadow: #014058 2px 2px 2px ;
    background-color: var(--azul_reato);
    transition: 0.5s ease ;
}

.botao_enviar:hover{
    transform: scale(1.1);
    box-shadow: #014058 5px 5px 5px;
}

/* Área do icone de localização*/

.mapa{
    height: 55vh;
}

.container_venha_ate_nos{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container_venha_ate_nos h3{
    text-align: center;
}

.links_venham{
    width: 100%;
    padding: 10px 0;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.icone{
    width: 60px;
    height: 60px;
}

.waze{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

/*Botão do zap*/
.img_zap{
    width: 50px;
}

.botao_zap{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 100px;
    left: 20px;

    background-color: transparent;
    border: none;

    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 25px;
}

.botao_zap a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    background-image: url("imagens/whatsapp.lgog.png");
    background-size: contain;
    animation: chamar_atencao 1s infinite ease;
}

@keyframes chamar_atencao {
    from{
        transform: translateX(0px);
    }

    15%{
        transform: translateX(-5px);
    }

    30%{
        transform: translateX(5px);
    }

    45%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(0);
    }
    100%{
        transform: translatex(0);
    }
}

/* Area do Roda pé*/

footer{
    width: 100vw;
    height: auto;
    padding: 5px;
    display: flex;
    
    background-color: rgb(194, 47, 47);
}

footer p {
    text-align: center;
}

/* ------------------------------------------------------ Cada tela*/

@media (min-width:120px) and (max-width:320px){
    .disposicao_visial_contato{
        flex-flow: column;
        height: auto;
    }
}

@media (max-height:500px) {
    #img_logotipo{
        width: 75px;
    }
}
    
@media (min-width:801px) and (max-width:1025px) { 
    .alinhador_contatos_email{
        width: 100%;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .Contatos{
        width: 49%;
        height: 360px;
        justify-content: flex-start;
    }

    form{
        width: 49%;
        height: 360px;
    }


}

@media (min-width:1025px) and (max-width:1281px) { 
    .alinhador_contatos_email{
        width: 100%;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .Contatos{
        width: 49%;
        height: 360px;
        justify-content: flex-start;
    }

    form{
        width: 49%;
        height: 360px;
    }
}

@media (min-width:1281px) {
    .alinhador_contatos_email{
        width: 100%;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .Contatos{
        width: 49%;
        height: 360px;
        justify-content: flex-start;
    }

    form{
        width: 49%;
        height: 360px;
    }
} 

@media (max-height:430px) {
    .alinhador_contatos_email{
        width: 100%;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .Contatos{
        width: 49%;
        height: 360px;
        justify-content: flex-start;
    }

    form{
        width: 49%;
        height: 360px;
    }
} 